body {
    background-image: url(images/rickandmorty_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header Start */
#header-container {
    height: 180px;
    display: flex;

}

#game-title {
    background-image: url(images/rickandmorty_banner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 750px 200px;
    margin-left: -100px;
    flex: 1;
}

#game-logo {
    order: 2;
    background-image: url(images/rickandmorty_logo2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 125% 80%;
    min-width: 200px;
    min-height: 200px;
}
/* Header End */

#main-content {
    display: flex;
}

/* Game Area */
#game_area_cont {
    width: 55%;
    margin: 2% 8% 2% 10%;
}

.front {
    position: absolute;
    display: block;
}

.back {
    position: relative;
}

.cards {
    display: inline-block;
}

img {
    height: 165px;
    width: 120px;
    display: inline-block;
    border-radius: 20px;
}

.flipped {
    position: static;
}

.matched {
    display: none;
}

/* Stats Container */

#stats_container {
    font-family: rickandmortyfont;
    font-size: 20px;
    margin: 2% 8%;

}

button {
    font-family: rickandmortyfont;
    font-size: 15px;
    margin-top: 10%;
    padding: 10px 15px;
    opacity: 0.8;
}

/* Media Query */
@media only screen and (max-width: 770px) {
    #header-container {
        height: 100px;
    }
    #game-title {
        background-image: url(images/rickandmorty_banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
        flex: 2;
    }
    #game-logo {
        order: 2;
        background-image: url(images/rickandmorty_logo2.png);
        background-repeat: no-repeat;
        background-position: center;

        min-width: 90px;
        min-height: 70px;
    }
}

/*Font*/
@font-face {
    font-family: 'rickandmortyfont';
    src: url('font/rickandmortyfont2.ttf')
    format('truetype')
}