body {
    background-image: url(images/rickandmorty_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header Start */
#header-container {
    height: 180px;
    display: flex;

}

#game-title {
    background-image: url(images/rickandmorty_banner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 750px 200px;
    margin-left: -90px;
    flex: 1;
}

#game-logo {
    order: 2;
    background-image: url(images/rickandmorty_logo2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 125% 80%;
    min-width: 200px;
    min-height: 200px;
}
/* Header End */

#main-content {
    display: flex;
}

/* Game Area */
.game-area-cont {
    width: 55%;
    margin: 2% 8% 2% 10%;
}

.front {
    position: absolute;
    display: block;
}

.back {
    position: relative;
}

.cards {
    display: inline-block;
}

img {
    height: 165px;
    width: 120px;
    display: inline-block;
    border-radius: 20px;
}

.flipped {
    position: static;
}

.matched {
    display: none;
}

/* Stats Container */

.stats-container {
    font-family: rickandmortyfont;
    font-size: 20px;
    margin: 2% 8%;

}

button {
    font-family: rickandmortyfont;
    font-size: 15px;
    margin-top: 10%;
    padding: 10px 15px;
    opacity: 0.8;
}

/* Media Query */
@media only screen and (max-width: 770px) {
    #header-container {
        height: 100px;
    }
    #game-title {
        background-image: url(images/rickandmorty_banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
        flex: 2;
    }
    #game-logo {
        order: 2;
        background-image: url(images/rickandmorty_logo2.png);
        background-repeat: no-repeat;
        background-position: center;

        min-width: 90px;
        min-height: 70px;
    }
}

/*Font*/
@font-face {
    font-family: 'rickandmortyfont';
    src: url('font/rickandmortyfont2.ttf')
    format('truetype')
}

/* Card Flip Animation */
.container {
    width: 200px;
    height: 260px;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    /*-o-perspective: 800px;*/
    perspective: 800px;
}
.card {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    /*-moz-transform-style: preserve-3d;*/
    /*-o-transform-style: preserve-3d;*/
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    /*-o-backface-visibility: hidden;*/
    backface-visibility: hidden;
}
.card .front {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
