body {
    background-image: url(images/rickandmorty_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header Start */
#header-container {
    height: 180px;
    display: flex;
}

#game-title {
    background-image: url(images/rickandmorty_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 750px 200px;
    flex: 2;
}

#game-logo {
    order: 2;
    background-image: url(images/rickandmorty_logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125% 80%;
    min-width: 200px;
    min-height: 200px;
}
/* Header End */

#main-content {
    display: flex;
    background-color: red;
    margin: auto;
}

#game_area_cont, #stats_container {
    margin: 5%;
}

/* Game Area */
#game_area_cont {
    background-color: blue;
    flex: 2;

}

.rows {
    margin-left: 25%;
}

.front {
    position: absolute;
    display: block;
}

.back {
    position: relative;
}

.cards {
    display: inline-block;
}

img {
    height: 150px;
    width: 100px;
    display: inline-block;
    border-radius: 20px;
}

.flipped {
    position: static;
}

.matched {
    display: none;
}

/* Stats Container */

#stats_container {
    font-family: rickandmortyfont;
    background-color: #00A8FF;
    flex: 1;


}

button {
    font-family: rickandmortyfont;
    font-size: 15px;
    margin-top: 10%;
    padding: 10px 15px;
    opacity: 0.8;
}

/* Media Query */
@media only screen and (max-width: 770px) {
    #header-container {
        height: 100px;
    }
    #game-title {
        background-image: url(images/rickandmorty_banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
        flex: 2;
    }
    #game-logo {
        order: 2;
        background-image: url(images/rickandmorty_logo2.png);
        background-repeat: no-repeat;
        background-position: center;

        min-width: 90px;
        min-height: 70px;
    }
}

    /*iPhone 6*/
@media only screen and (max-device-width: 667px)
and (-webkit-device-pixel-ratio: 2) {
    #header-container {
        height: 100px;
    }
    #game-title {
        background-image: url(images/rickandmorty_banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
        flex: 2;
    }
    #game-logo {
        order: 2;
        background-image: url(images/rickandmorty_logo2.png);
        background-repeat: no-repeat;
        background-position: center;

        min-width: 90px;
        min-height: 70px;
    }
}

    /*iPhone 6 Plus*/
@media screen and (min-device-width : 414px)
and (-webkit-device-pixel-ratio: 3){

}

/*Font*/
@font-face {
    font-family: 'rickandmortyfont';
    src: url('font/rickandmortyfont2.ttf')
    format('truetype')
}