body {
    background-image: url(images/rickandmorty_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#main-content {
    display: flex;
    height: 100%;
    width: 100%;
}
/* Header Start */
#header-container {
    height: 180px;
    display: flex;
}
#game-title {
    background-image: url(images/rickandmorty_banner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 750px 200px;
    margin-left: -90px;
    flex: 1;
}
#game-logo {
    order: 2;
    background-image: url(images/rickandmorty_logo2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 125% 80%;
    min-width: 200px;
    min-height: 200px;
}

/* Game Area */
.game-area-cont {
    margin: 2% 0 0 10%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.back {
    position: absolute;
}
img {
    height: 165px;
    width: 120px;
    border-radius: 20px;
}
.matched {
    display: none;
}

/* Card Flip Animation Start */
.card {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    /* Card Flip */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}
.card div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

/* Stats Container Start */
.stats-container {
    letter-spacing: 5px;
    font-family: rickandmortyfont;
    font-size: 23px;
    margin: 2% 8%;
    margin-left: 20%;
}
button {
    font-family: rickandmortyfont;
    font-size: 23px;
    height: 100%;
    width: 100%;
    margin: 5%;
    padding: 5%;
    letter-spacing: 5px;
}

/* Media Queries */
@media only screen and (max-width: 770px) {
    #header-container {
        height: 100px;
    }
    #game-title {
        background-image: url(images/rickandmorty_banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
        flex: 2;
    }
    #game-logo {
        order: 2;
        background-image: url(images/rickandmorty_logo2.png);
        background-repeat: no-repeat;
        background-position: center;
        min-width: 90px;
        min-height: 70px;
    }
}

/* Font */
@font-face {
    font-family: 'rickandmortyfont';
    src: url('font/rickandmortyfont2.ttf')
    format('truetype')
}