body {
    background-image: url(images/rickandmorty_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#main-content {
    height: 35rem;
    background-color: #FFFFFF;
}

/* Header Start */
#header-container {
    height: 10rem;
}
#game-title {
    background-image: url(images/rickandmorty_banner.png);
    background-repeat: no-repeat;
    background-color: #0A7D67;
}
#game-logo {
    background-image: url(images/rickandmorty_logo2.png);
    background-repeat: no-repeat;
    background-color: #0e90d2;
}

/* Game Area */
#game-area-cont {
    margin: 2% 0 0 10%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0e90d2;
}
.back {
    position: absolute;
}
img {
    height: 165px;
    width: 120px;
    border-radius: 20px;
}
.matched {
    display: none;
}

/* Cards Flip Animation Start */
.cards {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    /* Cards Flip */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}
.cards div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cards .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.cards.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

/* Stats Container Start */
#stats-container {
    letter-spacing: 5px;
    font-family: rickandmortyfont;
    font-size: 23px;
    background-color: darkred;
}
button {
    font-family: rickandmortyfont;
    font-size: 23px;
    height: 100%;
    width: 100%;
    margin: 5%;
    padding: 5%;
    letter-spacing: 5px;
}

/* Media Queries */
/*@media only screen and (min-width: 770px) {*/
    /*#header-container {*/
        /*height: 100px;*/
    /*}*/
    /*#game-title {*/
        /*background-image: url(images/rickandmorty_banner.png);*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*background-size: 300px;*/
        /*flex: 2;*/
    /*}*/
    /*#game-logo {*/
        /*order: 2;*/
        /*background-image: url(images/rickandmorty_logo2.png);*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*min-width: 90px;*/
        /*min-height: 70px;*/
    /*}*/
/*}*/

/* Font */
@font-face {
    font-family: 'rickandmortyfont';
    src: url('font/rickandmortyfont2.ttf')
    format('truetype')
}